<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Upload Student Excel</title>
</head>
<body>
<div class="container mt-4" layout:fragment="content">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h3>Upload Student Excel</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/excel/upload}" method="post" enctype="multipart/form-data" class="text-center">
            <div class="mb-3">
              <input type="file" name="file" class="form-control" accept=".xlsx" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Upload</button>
          </form>
          <div class="text-center mt-3">
            <a href="/projects" class="btn btn-secondary w-100">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
